.about {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid $background-primary-color;

  h2 {
    margin: 0 0 30px;
  }

  .photo {
    @extend %col-xs-3;
    height: 320px;
    background-repeat: no-repeat;
    margin: 0 0 30px;
  }

  .content p {
    @extend %col-xs-8;
    margin-top: 15px;

    a {
      color: $primary-color;
      &:hover, &:focus {
        color: $secondary-color;
        text-decoration: underline;
      }
    }
  }
  
  @media screen and (max-width: $screen-md-max) {
    h2 {
      width: 100%;
      margin: 0 0 15px;
    }
    .photo {
      width: 30%;
    }
    .content p {
      margin-left: 5%;
      width: 65%;
    }
  }
  @media screen and (max-width: $screen-sm-max) {
    h2 {
      width: 100%;
      margin: 0 0 15px;
    }
    .photo {
      width: 95%;
      margin-left: 5%;
    }
    .content p {
      width: 85%;
    }
  }
  @media screen and (max-width: $screen-xs-max) {
    padding-top: 15px;
    padding-bottom: 15px;

    h2 {
      width: 100%;
      margin: 0 0 15px;
    }
  }
}