.amenities {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid $background-primary-color;

  h2 {
    margin: 0 0 30px;
    @extend %col-xs-4;
  }

  .amenities-items{
    @extend %row;
    @extend %col-xs-8;
    margin-bottom: 60px;
  }

  .house-image {
    @extend %col-xs-5;
    margin: 0px 40px;
    margin-bottom: 40px;
    background-color: #fff;
    background: no-repeat;
    height: 800px;
  }
  
  img {
    @extend %img-responsive;
  }

  ul li {
    @extend %column;
    padding: 5px;
    font-size: 18px;
    font-weight: 700;
  }

  h3 {
    font-size: 32px;
    margin-top: 0;
  }
  
  p {
    margin-top: 15px;
  }
  
  a {
    color: $text-color;
    &:hover, &:focus {
      color: $text-color;
      text-decoration: none;
    }
  }

  a.cta {
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline;
    color: $primary-color;
  }
  
  @media screen and (max-width: $screen-md-max) {
    h2 {
      width: 100%;
      margin: 0 0 15px;
    }
    .amenities-items {
      width: 100%;
      margin: 0 0 15px;
    }
    .house-image {
      height: 550px;
      margin: 0px 10px;
      margin-bottom: 20px;
      background-size: 100%;
    }
    .row {
      margin: 0 0 15px;
    }
  }
  @media screen and (max-width: $screen-sm-max) {
    .amenities-items {
      width: 90%;
    }
    .house-image {
      height: 800px;
      width: 100%;
      margin-bottom: 20px;
      background-size: 100%;
    }
    h2 {
      width: 100%;
      margin: 0 0 15px;
    }
    .row {
      margin: 0 0 15px;
    }
  }
  @media screen and (max-width: $screen-xs-max) {
    padding-top: 15px;
    padding-bottom: 15px;
    .amenities-items {
      width: 100%;
    }
    .house-image {
      height: 650px;
      width: 100%;
      background-size: 100%;
    }
    h2 {
      width: 100%;
      margin: 0 0 15px;
    }
    .row {
      margin: 0 0 15px;
    }
  }
}